.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: inherit;
}

.bell-icon {
  font-size: 0.5em;
  width: 1em;
}

.has-badge[data-count]::after {
  position: absolute;
  right: 14%;
  top: 22%;
  content: "\2022";
  font-size: 1.4em;
  padding: 0.15em;
  line-height: 0.75em;
  color: #ff0000;
}

.has-badge-number[data-count]::after {
  position: absolute;
  right: 0;
  top: 0;
  content: attr(data-count);
  font-size: 0.5em;
  padding: 0.15em;
  border-radius: 999%;
  line-height: 0.75em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

.notification-dot {
  margin-right: 0.5rem;
  color: #ff3860;
  font-size: 0.55rem;
}
