#  You need to obtain an API Key for The Materials Project API at https://next-gen.materialsproject.org/api.
#  你需要访问Materials Project API获取API Key：https://next-gen.materialsproject.org/api/。
#  并将API Key替换为以下环境变量：
#  VITE_MP_API_KEY=XXXXXXXX