.mpc-paginator {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.mpc-paginator-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.mpc-paginator-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}
