.ms-filter-label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.ms-filter-label .ms-tooltip-label {
  display: inline-flex;
  align-items: center;
}

.ms-filter-label .ms-filter-cancel-icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  line-height: 1;
}

.ms-filter-label .ms-filter-cancel-button {
  display: block;
}

.ms-units {
  font-weight: normal;
  font-size: 0.85rem;
}
