.ms-publication-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  vertical-align: top;
}

.ms-publication-button svg {
  flex-shrink: 0;
}
