.ms-modal.ms-modal {
  display: flex;
  bottom: 100%;
  opacity: 0;
  transition: 0.5s;
}

.ms-modal.ms-modal.ms-is-active {
  bottom: 0;
  opacity: 1;
}

.ms-modal.ms-modal .ms-modal-background {
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.ms-modal.ms-modal.ms-is-active .ms-modal-background {
  opacity: 1;
  pointer-events: all;
}

.ms-modal.ms-modal-content {
  background: #fff;
  border-radius: 6px;
}
