.ms-pt-mode-switcher .ms-dropdown-container {
  width: 100%;
  text-align: center;
}

.ms-pt-mode-switcher .ms-dropdown {
  text-align: left;
}

.ms-pt-mode-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2px;
}

.ms-pt-mode-content .ms-pt-description {
  grid-column: 5 / span 6;
  grid-row: 1 / span 2;
}

.ms-pt-mode-content .ms-pt-description > * {
  padding: 0.25rem;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 100%;
}

.ms-element-wrapper {
  display: inline-flex;
}

.ms-element-wrapper .ms-mat-element {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) and (max-width: 959px) {
  .ms-pt-mode-switcher-description {
    width: 100%;
    margin-left: 0;
    padding: 0.25rem;
  }
}
