.ms-open-access-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  vertical-align: bottom;
}

.ms-open-access-button img {
  height: 1.25rem;
  width: auto;
}

.ms-open-access-button > span > span {
  vertical-align: top;
}
