.ms-open-access-button {
  vertical-align: bottom;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.ms-open-access-button img {
  max-height: 16px;
  vertical-align: text-bottom;
}

.ms-open-access-button > span > span {
  vertical-align: top;
}
